## tuple

In [14]:
t1=[1,2,3,"apple",True]

In [16]:
type(t1)

list

In [20]:
t2=(1,2,3,"apple",True)

In [22]:
type(t2)

tuple

In [26]:
t2[::-1]  ## reversing the tuple

(True, 'apple', 3, 2, 1)

In [32]:
t2.count(2)         ## count method givrs the no of times occurrence of parameter

1

In [34]:
t1.index(3)

2

In [42]:
t1.index('a')

ValueError: tuple.index(x): x not in tuple

In [44]:
t1.index('apple')

3

In [38]:
t2.count(1)

2

In [40]:
## explaination- > here internally python stores True as 1 and False as 0

In [46]:
lst=[1,2,3,'delhi','pune',False]

In [48]:
tpl=(1,2,3,'delhi','pune',False)bn

# set

In [50]:
set1={}

In [52]:
type(set1)

dict

In [54]:
s2={1,2,3,4,4,2,3,1,7}

In [56]:
s2

{1, 2, 3, 4, 7}

# Dictionary

In [63]:
d={}

In [65]:
type(d)

dict

In [67]:
## here we store the data in key and value pair

In [69]:
d1={"name":"amit","age":24,}

In [71]:
d1

{'name': 'amit', 'age': 24}

- here key can be anyhthing and value can be anything 
- But key should not be duplicate or repetative an that case it override first one's value

In [78]:
d1

{'name': 'amit', 'age': 24}

In [80]:
d2={"name":"amit" ,"edu":"Btech","Mobile_No":97671234,"name":"Amit Mane"}

In [82]:
d2

{'name': 'Amit Mane', 'edu': 'Btech', 'Mobile_No': 97671234}

### In case of keys

- Key can be string , any numeric value.
- But not special characters eg.@, #, %, ^,&*
- also not key can't be any list dt
- But tuples can be working as key

### In case of values

- values can be tuples
- values can be sets, lists or dist
- we can use nested dict as we can take dict inside dict as value

In [115]:
d10={
    "batchName":["Data Science Masters","Web dev","Java Dsa with System Design"],
    "Start_Date":(28,14,21,),
    "Mentors":{
        'Krish Naik',
        'Sudhanshu',
        'anurag',
        'histesh',
        'navin',
        'hayder'
    }
    }

In [117]:
d10

{'batchName': ['Data Science Masters',
  'Web dev',
  'Java Dsa with System Design'],
 'Start_Date': (28, 14, 21),
 'Mentors': {'Krish Naik',
  'Sudhanshu',
  'anurag',
  'hayder',
  'histesh',
  'navin'}}

- add new values

In [122]:
d10["timing"]=(8,8,8,8)

In [124]:
d10

{'batchName': ['Data Science Masters',
  'Web dev',
  'Java Dsa with System Design'],
 'Start_Date': (28, 14, 21),
 'Mentors': {'Krish Naik',
  'Sudhanshu',
  'anurag',
  'hayder',
  'histesh',
  'navin'},
 'timing': (8, 8, 8, 8)}

In [140]:
d10['demoKey']='demovalue'

In [142]:
d10

{'batchName': ['Data Science Masters',
  'Web dev',
  'Java Dsa with System Design'],
 'Start_Date': (28, 14, 21),
 'Mentors': {'Krish Naik',
  'Sudhanshu',
  'anurag',
  'hayder',
  'histesh',
  'navin'},
 'timing': (8, 8, 8, 8),
 'demoKey': 'demovalue'}

In [144]:
del d10['demokey']

KeyError: 'demokey'

In [146]:
del d10['demoKey'] ## delete operation on dict

In [138]:
d10

{'batchName': ['Data Science Masters',
  'Web dev',
  'Java Dsa with System Design'],
 'Start_Date': (28, 14, 21),
 'Mentors': {'Krish Naik',
  'Sudhanshu',
  'anurag',
  'hayder',
  'histesh',
  'navin'},
 'timing': (8, 8, 8, 8)}

In [150]:
d10.keys() ## fetch all the keys

dict_keys(['batchName', 'Start_Date', 'Mentors', 'timing'])

In [154]:
d10.values() ## fetch all the values

dict_values([['Data Science Masters', 'Web dev', 'Java Dsa with System Design'], (28, 14, 21), {'Krish Naik', 'anurag', 'navin', 'histesh', 'Sudhanshu', 'hayder'}, (8, 8, 8, 8)])

In [156]:
d10.items()

dict_items([('batchName', ['Data Science Masters', 'Web dev', 'Java Dsa with System Design']), ('Start_Date', (28, 14, 21)), ('Mentors', {'Krish Naik', 'anurag', 'navin', 'histesh', 'Sudhanshu', 'hayder'}), ('timing', (8, 8, 8, 8))])

In [158]:
d11=d10.copy() ## Here it create a deep copy ie. complete new space in memory

In [160]:
d11

{'batchName': ['Data Science Masters',
  'Web dev',
  'Java Dsa with System Design'],
 'Start_Date': (28, 14, 21),
 'Mentors': {'Krish Naik',
  'Sudhanshu',
  'anurag',
  'hayder',
  'histesh',
  'navin'},
 'timing': (8, 8, 8, 8)}

In [168]:
d12=d10 ## here it creates a shallow copy ie. both pointing to same memory location

## that is if we change in anyone of them it will reflect on another side too

In [164]:
d12

{'batchName': ['Data Science Masters',
  'Web dev',
  'Java Dsa with System Design'],
 'Start_Date': (28, 14, 21),
 'Mentors': {'Krish Naik',
  'Sudhanshu',
  'anurag',
  'hayder',
  'histesh',
  'navin'},
 'timing': (8, 8, 8, 8)}

In [170]:
d12.pop()

TypeError: pop expected at least 1 argument, got 0

In [172]:
## here pop requires in argument in case of dict

In [174]:
d12.pop('timing')

(8, 8, 8, 8)

In [176]:
d12

{'batchName': ['Data Science Masters',
  'Web dev',
  'Java Dsa with System Design'],
 'Start_Date': (28, 14, 21),
 'Mentors': {'Krish Naik',
  'Sudhanshu',
  'anurag',
  'hayder',
  'histesh',
  'navin'}}

In [179]:
d.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [182]:
d13={'Key1':'value1','Key2':'value2'}

In [184]:
d14={'Key3':'value3','Key4':'value4'}

In [186]:
## we can add dicts in tuple ie tuple of dictioniories

In [188]:
d13.update(d14) ## we can merge both dict like this also ..

In [190]:
d13

{'Key1': 'value1', 'Key2': 'value2', 'Key3': 'value3', 'Key4': 'value4'}

In [194]:
d13.get('notExsitingKey')  ## here its not giving any error if the key is not present in dict
                           ## just gives default o/p that is nothing here

In [196]:
d13.get("Key2")

'value2'

### List comprehension

In [199]:
## dict with no's and sqr root of that no

In [224]:
d15={ i : i**2 for i in range(1,11)}
d15

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [205]:
d10

{'batchName': ['Data Science Masters',
  'Web dev',
  'Java Dsa with System Design'],
 'Start_Date': (28, 14, 21),
 'Mentors': {'Krish Naik',
  'Sudhanshu',
  'anurag',
  'hayder',
  'histesh',
  'navin'}}

In [207]:
## what if we asked to search certain key in dict

In [209]:
'Start_Date' in d10

True

In [228]:
## extract only those values whose keys are even nos
d15

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [236]:
for i in d15.keys():
    if i%2==0:
        print(d15[i])

4
16
36
64
100

In [242]:
at=(100,)

In [244]:
print(at *2 )

(100, 100)

In [246]:
dict1={'key1':1,'key2':2}

In [254]:
dict2={'key2':2,'key1':1}

In [256]:
print(dict1 == dict2)

True

In [258]:
set1={1,2,3}

In [260]:
set2=set1.copy()

In [262]:
set2

{1, 2, 3}

In [264]:
set3=set(set1)

In [266]:
set3

{1, 2, 3}

In [268]:
set4.update(set1)

NameError: name 'set4' is not defined

In [270]:
set1 = {"Yellow", "Orange", "Black"}

In [272]:
set2 = {"Orange", "Blue", "Pink"}

In [274]:
set3 = set2.difference(set1)

In [276]:
set3

{'Blue', 'Pink'}